.galeria img{
    width: 30%;
    height: 30%;
    margin-left: 0;
    margin-right:0;
    margin-bottom: 0;
}
.galeria{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.div {
    display: block;
}