.imagem {
margin-bottom:10px;
width: 100% !important;
}
 
.logo{  
width:160px;  
height:60px;
}

.circulos{  
width: 50%;  
height: 40%;
}

.w3-bar .w3-button {    
padding: 10px;
text-align: center;

}
.w3-wide {
    
letter-spacing: 5px;

}
.w3-button{
    margin-top: 2px;
    vertical-align: middle;
    width: 60px;
    height: 40px;
}

.jumbotron {
    border-radius: .2rem;
    text-align: center;
}

.w3-row-padding{
    margin-bottom: 20px;
}

