.so-widget-sow-button-flat-735edb87258a .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #09627f;
  color: #ffffff !important;
  border: 1px solid #09627f;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-735edb87258a .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base a:visited,
.so-widget-sow-button-flat-735edb87258a .ow-button-base a:active,
.so-widget-sow-button-flat-735edb87258a .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-735edb87258a .ow-button-base a.ow-button-hover:hover {
  background: #0a7192;
  border-bottom-color: #095e7a;
  color: #ffffff;
}.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #e87a0f;
  color: #ffffff !important;
  border: 1px solid #e87a0f;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a:visited,
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a:active,
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-39b4d7078a88 .ow-button-base a.ow-button-hover:hover {
  background: #f0841b;
  border-bottom-color: #e3770f;
  color: #ffffff;
}.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #d65050;
  color: #ffffff !important;
  border: 1px solid #d65050;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a:visited,
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a:active,
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-7ed1deabdd29 .ow-button-base a.ow-button-hover:hover {
  background: #da6161;
  border-bottom-color: #d54c4c;
  color: #ffffff;
}.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #348b5e;
  color: #ffffff !important;
  border: 1px solid #348b5e;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a:visited,
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a:active,
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-3b586bc19f76 .ow-button-base a.ow-button-hover:hover {
  background: #3a9a68;
  border-bottom-color: #33875b;
  color: #ffffff;
}
body, #mainnav ul ul a { font-family:'Open Sans', sans-serif!important;}
h1, h2, h3, h4, h5, h6, #mainnav ul li a, .portfolio-info, .roll-testimonials .name, .roll-team .team-content .name, .roll-team .team-item .team-pop .name, .roll-tabs .menu-tab li a, .roll-testimonials .name, .roll-project .project-filter li a, .roll-button, .roll-counter .name-count, .roll-counter .numb-count button, input[type="button"], input[type="reset"], input[type="submit"] { font-family:'Lora', serif;}
.site-title { font-size:32px; }
.site-description { font-size:16px; }
#mainnav ul li a { font-size:15px; }
h1 { font-size:40px; }
h2 { font-size:36px; }
h3 { font-size:32px; }
h4 { font-size:25px; }
h5 { font-size:20px; }
h6 { font-size:18px; }
body { font-size:14px; }
.header-image { background-size:cover;}
.header-image { height:300px; }
.header-wrap .col-md-4, .header-wrap .col-md-8 { width: 100%; text-align: center;}
#mainnav { float: none;}
#mainnav li { float: none; display: inline-block;}
#mainnav ul ul li { display: block; text-align: left; float:left;}
.site-logo, .header-wrap .col-md-4 { margin-bottom: 15px; }
.btn-menu { margin: 0 auto; float: none; }
.header-wrap .container > .row { display: block; }
.widget-area .widget_fp_social a,#mainnav ul li a:hover, .sydney_contact_info_widget span, .roll-team .team-content .name,.roll-team .team-item .team-pop .team-social li:hover a,.roll-infomation li.address:before,.roll-infomation li.phone:before,.roll-infomation li.email:before,.roll-testimonials .name,.roll-button.border,.roll-button:hover,.roll-icon-list .icon i,.roll-icon-list .content h3 a:hover,.roll-icon-box.white .content h3 a,.roll-icon-box .icon i,.roll-icon-box .content h3 a:hover,.switcher-container .switcher-icon a:focus,.go-top:hover,.hentry .meta-post a:hover,#mainnav > ul > li > a.active, #mainnav > ul > li > a:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .text-color, .social-menu-widget a, .social-menu-widget a:hover, .archive .team-social li a, a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#e87a0f}
.project-filter li a.active, .project-filter li a:hover,.preloader .pre-bounce1, .preloader .pre-bounce2,.roll-team .team-item .team-pop,.roll-progress .progress-animate,.roll-socials li a:hover,.roll-project .project-item .project-pop,.roll-project .project-filter li.active,.roll-project .project-filter li:hover,.roll-button.light:hover,.roll-button.border:hover,.roll-button,.roll-icon-box.white .icon,.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span,.go-top,.bottom .socials li:hover a,.sidebar .widget:before,.blog-pagination ul li.active,.blog-pagination ul li:hover a,.content-area .hentry:after,.text-slider .maintitle:after,.error-wrap #search-submit:hover,#mainnav .sub-menu li:hover > a,#mainnav ul li ul:after, button, input[type="button"], input[type="reset"], input[type="submit"], .panel-grid-cell .widget-title:after { background-color:#e87a0f}
.roll-socials li a:hover,.roll-socials li a,.roll-button.light:hover,.roll-button.border,.roll-button,.roll-icon-list .icon,.roll-icon-box .icon,.owl-theme .owl-controls .owl-page span,.comment .comment-detail,.widget-tags .tag-list a:hover,.blog-pagination ul li,.hentry blockquote,.error-wrap #search-submit:hover,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus, button, input[type="button"], input[type="reset"], input[type="submit"], .archive .team-social li a { border-color:#e87a0f}
.site-header.float-header { background-color:rgba(124,62,1,0.9);}
@media only screen and (max-width: 1024px) { .site-header { background-color:#7c3e01;}}
.site-title a, .site-title a:hover { color:#ffffff}
.site-description { color:#ffffff}
#mainnav ul li a, #mainnav ul li::before { color:#ffffff}
#mainnav .sub-menu li a { color:#ffffff}
#mainnav .sub-menu li a { background:#1c1c1c}
.text-slider .maintitle, .text-slider .subtitle { color:#ffffff}
body { color:#555555}
#secondary { background-color:#ffffff}
#secondary, #secondary a, #secondary .widget-title { color:#767676}
.footer-widgets { background-color:#252525}
.btn-menu { color:#ffffff}
#mainnav ul li a:hover { color:#d65050}
.site-footer { background-color:#1c1c1c}
.site-footer,.site-footer a { color:#666666}
.overlay { background-color:#000000}
.page-wrap { padding-top:83px;}
.page-wrap { padding-bottom:100px;}
@media only screen and (max-width: 1025px) {		
			.mobile-slide {
				display: block;
			}
			.slide-item {
				background-image: none !important;
			}
			.header-slider {
			}
			.slide-item {
				height: auto !important;
			}
			.slide-inner {
				min-height: initial;
			} 
		}
<style type="text/css">.so-widget-sow-button-flat-209f277b40d0 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3em;
  padding: 1.4em 2.8em;
  background: #e87a0f;
  color: #ffffff !important;
  border: 1px solid #e87a0f;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a:visited,
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a:active,
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-209f277b40d0 .ow-button-base a.ow-button-hover:hover {
  background: #f0841b;
  border-bottom-color: #e3770f;
  color: #ffffff;
}.so-widget-sow-button-wire-9332d3587c69 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.15em;
  padding: 1.4em 2.8em;
  background: transparent;
  border: 2px solid #e87a0f;
  color: #e87a0f !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a:visited,
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a:active,
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a:hover {
  color: #e87a0f !important;
}
.so-widget-sow-button-wire-9332d3587c69 .ow-button-base a.ow-button-hover:hover {
  background: #e87a0f;
  color: #ffffff !important;
}.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.15em;
  padding: 1.4em 2.8em;
  background: #d55b1a;
  color: #ffffff !important;
  border: 1px solid #d55b1a;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a:visited,
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a:active,
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-8a34539d0ff9 .ow-button-base a.ow-button-hover:hover {
  background: #e46420;
  border-bottom-color: #d05919;
  color: #ffffff;
}.so-widget-sow-button-flat-9332d3587c69 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.15em;
  padding: 1.4em 2.8em;
  background: #e87a0f;
  color: #ffffff !important;
  border: 1px solid #e87a0f;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a:visited,
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a:active,
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-9332d3587c69 .ow-button-base a.ow-button-hover:hover {
  background: #f0841b;
  border-bottom-color: #e3770f;
  color: #ffffff;
}</style>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		
<style type="text/css"></style>

<style type="text/css">
.synved-social-resolution-single {
display: inline-block;
}
.synved-social-resolution-normal {
display: inline-block;
}
.synved-social-resolution-hidef {
display: none;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.synved-social-resolution-normal {
	display: none;
	}
	.synved-social-resolution-hidef {
	display: inline-block;
	}
}